/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

/* Main Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0375BC;
}

/* Header */
header {
  background-color: #ffcc01;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 30px 15px 50px;
  gap: 20px;
}

header .logo img {
  width: 300px;
}

header .from {
  width: 100%;
}

header .search {
  width: 60%;
  height: 50px;
  border-radius: 20px;
  border: none;
  padding: 15px 20px;
  font-size: 17px;
  caret-color: #ffcc01;
}

header .search::placeholder {
  color: #0375BC;
}

@media (max-width: 750px) {
  header .logo img {
    width: 200px;
  }

  header .search {
    width: 100%;
  }
}

header .search:focus {
  outline: none;
}


/* Main */

main {
  padding: 50px;
  margin: 0 auto;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #ffcc01;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #f2f2f2;
}

.card img {
  width: 150px;
  margin: 30px auto;
}

.card .info {
  padding: 0 30px 15px;
}

.pop {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 240px;
  z-index: -1;
}

/* 404 Page */
.container {
  
}